<!DOCTYPE html>
<html>
<head>
    <title>Monster Slayer</title>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/app.css">
</head>
<body>
<div id="app">
    <section class="row">
        <div class="small-6 columns">
            <h1 class="text-center">YOU</h1>
            <div class="healthbar">
                <div class="healthbar text-center" 
                    :style="youHealthStyle" 
                    style="margin: 0; color: white;">
                    {{ you.health }}
                </div>
            </div>
        </div>
        <div class="small-6 columns">
            <h1 class="text-center">MONSTER</h1>
            <div class="healthbar">
                <div class="healthbar text-center" :style="monsterHealthStyle" style="margin: 0; color: white;">
                    {{ monster.health }}
                </div>
            </div>
        </div>
    </section>
    <transition name="flip" mode="out-in"> 
        <section v-if="!isStarted" class="row controls" key="start">
            <div class="small-12 columns">
                <button id="start-game" @click="startNewGame">START NEW GAME</button>
            </div>
        </section>
        <section v-else class="row controls" key="actions">
            <div class="small-12 columns">
                <button :disabled="actionDisabled" id="attack" @click="attack">ATTACK</button>
                <button :disabled="actionDisabled" id="special-attack" @click="specialAttack">SPECIAL ATTACK</button>
                <button :disabled="actionDisabled" id="heal" @click="heal">HEAL</button>
                <button :disabled="actionDisabled" id="give-up" @click="giveUp">GIVE UP</button>
            </div>
        </section>
    </transition>
    <transition name="fade">
        <section class="row log" v-if="messages.length > 0">
            <div class="small-12 columns">
                <transition-group tag="ul" name="zoom">
                    <li v-for="message in reversedMessages" :class="message.turn" :key="messages.indexOf(message)">
                        {{ message.message }}
                    </li>
                </transition>
            </div>
        </section>
    </transition>
</div>
<script src="app.js"></script>
</body>
</html>